<form action="<%= products_path %>" method="post" >
  <label for="product">Product: </label><input type="text" id="product" name="product"><br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Add Product" id="add to cart">
</form>

<% if session[:cart] %>
  <% session[:cart].each do |p| %>
    <p>
    <%= p %>
    </p>
  <% end %>
<% end %>